<div class="container-fluid">
  <nav class="navbar border-bottom bg-body-tertiary mb-3">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          src="assets/img/z4743773039362_1cd84898e897c586460447df4f757366.jpg"
          alt=""
          width="30"
          height="24"
        />
      </a>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-12 col-md-2">
      <div class="list-group" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          data-bs-toggle="list"
          role="tab"
          [routerLink]="AppRoutes.Shows"
        >
          Sự kiện
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-bs-toggle="list"
          role="tab"
          [routerLink]="AppRoutes.Payments"
        >
          Payments
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-bs-toggle="list"
          role="tab"
          [routerLink]="AppRoutes.Users"
        >
          Users
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-bs-toggle="list"
          role="tab"
          [routerLink]="AppRoutes.Blogs"
        >
          Blogs
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-bs-toggle="list"
          href="#list-messages"
          role="tab"
        >
          Thông tin chung
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-bs-toggle="list"
          href="#list-settings"
          role="tab"
        >
          Cài đặt
        </a>
      </div>
    </div>

    <div class="col-sm-12 col-md-10 mt-2">
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="list-home"
          role="tabpanel"
          aria-labelledby="list-home-list"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
