<div class="modal-header">
  <h4 class="modal-title">Thông tin block</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="blockForm">
    <div class="row">
      <div class="col-12">
        <label class="form-label">Loại block</label>
        <select class="form-select" [formControlName]="BlockProperties.type">
          <option *ngFor="let type of blockTypeList" [value]="type">
            {{ type }}
          </option>
        </select>

        <hr />
      </div>

      <ng-container *ngIf="aislesCtrl.enabled" [formGroup]="aislesCtrl">
        <h6>Thông tin lối đi</h6>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Tên lối đi</label>
            <input
              type="text"
              class="form-control"
              [formControlName]="AislesProperties.name"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Hướng</label>
            <select
              class="form-select"
              [formControlName]="AislesProperties.direction"
            >
              <option
                *ngFor="let direction of directionList"
                [value]="direction"
              >
                {{ direction }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="doorCtrl.enabled" [formGroup]="doorCtrl">
        <h6>Thông tin cửa ra/vào</h6>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Tiêu đề cho cửa</label>
            <input
              type="text"
              class="form-control"
              [formControlName]="DoorProperties.name"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Chế độ </label>
            <select
              class="form-control"
              [formControlName]="DoorProperties.type"
            >
              <option *ngFor="let type of doorTypeList" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Hướng</label>
            <select
              class="form-select"
              [formControlName]="DoorProperties.direction"
            >
              <option
                *ngFor="let direction of directionList"
                [value]="direction"
              >
                {{ direction }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="seatCtrl.enabled" [formGroup]="seatCtrl">
        <h6>Thông tin cửa ra/vào</h6>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Mã ghế ngồi</label>
            <input
              type="text"
              class="form-control"
              [formControlName]="SeatProperties.code"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Loại vé gán cho ghế </label>
            <select
              class="form-select"
              [formControlName]="SeatProperties.fareTypeId"
            >
              <option
                *ngFor="let fareType of initialData?.fareTypes || []"
                [value]="fareType.id"
              >
                {{ fareType.title }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label class="form-label">Tình trạng</label>
            <select
              class="form-select"
              [formControlName]="SeatProperties.status"
            >
              <option *ngFor="let status of seatStatusList" [value]="status">
                {{ status }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="saveBlockChanges($event)"
  >
    Save
  </button>
</div>
