<div class="card">
  <div class="card-header">
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs card-header-tabs">
      <li ngbNavItem class="nav-item">
        <a ngbNavLink class="nav-link">Thông tin chính</a>
        <ng-template ngbNavContent>
          <la-project-show-form></la-project-show-form>
        </ng-template>
      </li>

      <li ngbNavItem class="nav-item">
        <a ngbNavLink class="nav-link">Sơ đồ chỗ ngồi</a>
        <ng-template ngbNavContent>
          <la-project-seat-map></la-project-seat-map>
        </ng-template>
      </li>

      <li ngbNavItem class="nav-item">
        <a ngbNavLink class="nav-link">Giá vé</a>
        <ng-template ngbNavContent>
          <la-project-fare-types></la-project-fare-types>
        </ng-template>
      </li>
    </ul>
  </div>

  <div [ngbNavOutlet]="nav" class="card-body"></div>
</div>
