<div class="d-flex justify-content-between mb-3">
  <h4 class="mb-0">Danh sách phương thức thanh toán</h4>
  <button class="btn btn-outline-primary" (click)="createBtnOnClick()">
    + Create
  </button>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Mô tả</th>
      <th>Tình trạng</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let payment of paymentList; let i = index">
      <tr
        style="cursor: pointer"
        (click)="paymentItemOnClick(payment); $event.stopPropagation()"
      >
        <td>
          {{ i + 1 }}
        </td>
        <td>{{ payment.title }}</td>
        <td>{{ payment.description }}</td>
        <td>
          <span
            class="badge rounded-pill"
            [class.text-bg-success]="payment.status === PaymentStatuses.Active"
            [class.text-bg-danger]="payment.status === PaymentStatuses.Inactive"
          >
            {{ payment.status }}
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
