<div class="row mb-1">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Thông tin cơ bản</div>

      <div class="card-body">
        <form [formGroup]="sectionForm">
          <div class="row mb-2">
            <div class="col-12">
              <label class="form-label">Tiêu đề</label>
              <input
                type="text"
                class="form-control"
                [formControlName]="SectionProperties.title"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6">
              <label class="form-label">Số hàng lớn nhất</label>
              <input
                type="number"
                class="form-control"
                [formControlName]="SectionProperties.maxRow"
              />
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label">Số cột lớn nhất</label>
              <input
                type="number"
                class="form-control"
                [formControlName]="SectionProperties.maxCol"
              />
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6">
              <label class="form-label">Số lượng chỗ ngồi</label>
              <input
                type="number"
                class="form-control"
                [formControlName]="SectionProperties.seatNumber"
              />
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label">Thứ tự ưu tiên</label>
              <input
                type="number"
                class="form-control"
                [formControlName]="SectionProperties.index"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-slide-toggle
                [formControlName]="SectionProperties.useRowIndex"
              >
                Tự động đánh số thứ tự ghế
              </mat-slide-toggle>
            </div>
          </div>

          <!-- <div class="row">
              <div class="col-12">
                <label class="form-label">Độ lớn của mỗi khối</label>
                <input type="number" class="form-control" [formControlName]="" />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label class="form-label">Khoảng cách giữa các khối</label>
                <input type="number" class="form-control" [formControlName]="" />
              </div>
            </div> -->
        </form>
      </div>

      <div class="card-footer">
        <div class="btn-group">
          <button
            class="btn btn-success"
            [disabled]="!canGenerate"
            (click)="generateSeatMap($event)"
          >
            <i class="bi bi-arrow-right"></i>
            Generate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="seatMap.length" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between w-100">
          <div class="text">Sơ đồ chỗ ngồi</div>

          <mat-slide-toggle
            *ngIf="indexReversedCtrl.enabled"
            [formControl]="indexReversedCtrl"
          >
            Đánh thứ tự ngược lại
          </mat-slide-toggle>
        </div>
      </div>

      <div class="card-body">
        <div class="seat-map-container">
          <ng-container *ngIf="rowIndexesCtrl.enabled">
            <div class="row-indexes-container" [formGroup]="sectionForm">
              <div class="row-index-title">
                <b>Row</b>
              </div>

              <ng-container
                *ngFor="let ctrl of rowIndexesCtrl.controls; let i = index"
                [formArrayName]="SectionProperties.rowIndexes"
              >
                <div class="row-index-input">
                  <input
                    type="text"
                    class="form-control"
                    [formControlName]="i"
                  />
                </div>
              </ng-container>
            </div>
          </ng-container>

          <div class="content-container">
            <div
              class="stage-box"
              [ngStyle]="{
                'min-width': 'calc(83px*' + (generatedData.maxCol + 2) + ')'
              }"
            >
              <h4 class="mt-1 mb-1">Sân khấu chính</h4>
            </div>

            <div class="audience-area-box">
              <div class="seat-map-box" cdkDropListGroup>
                <div
                  *ngFor="let row of seatMap; let rowIndex = index"
                  class="d-flex"
                  cdkDropList
                  [id]="'seat-row-' + rowIndex"
                  [cdkDropListOrientation]="'horizontal'"
                  [cdkDropListData]="row"
                  (cdkDropListDropped)="dropSeat($event, rowIndex)"
                >
                  <div
                    *ngFor="let block of row; let colIndex = index"
                    cdkDrag
                    [cdkDragDisabled]="block.type !== BlockTypes.Seat"
                    class="block-box mr-1"
                    [ngStyle]="{
                      width: 'calc(100%/' + row.length + ')'
                    }"
                  >
                    <div class="btn-group">
                      <ng-container [ngSwitch]="block.type">
                        <ng-container *ngSwitchCase="BlockTypes.None">
                          <button
                            class="btn"
                            (click)="openBlockModal($event,{block,rowIndex,colIndex})"
                          >
                            <i class="bi bi-x-octagon"></i>
                          </button>
                        </ng-container>

                        <ng-container *ngSwitchCase="BlockTypes.Seat">
                          <button
                            class="btn btn-outline-secondary"
                            (click)="openBlockModal($event,{block,rowIndex,colIndex})"
                          >
                            {{ block.seat.code }}
                          </button>

                          <button
                            class="btn btn-light drag-handler"
                            cdkDragHandle
                          >
                            <i class="bi bi-arrows-move"></i>
                          </button>
                        </ng-container>

                        <ng-container *ngSwitchCase="BlockTypes.Aisles">
                          <button
                            class="btn"
                            (click)="openBlockModal($event,{block,rowIndex,colIndex})"
                          >
                            <i class="bi bi-square-fill"></i>
                          </button>
                        </ng-container>

                        <ng-container *ngSwitchCase="BlockTypes.Wall">
                          <button
                            class="btn"
                            (click)="openBlockModal($event,{block,rowIndex,colIndex})"
                          >
                            <i class="bi bi-bricks"></i>
                          </button>
                        </ng-container>

                        <ng-container *ngSwitchCase="BlockTypes.Door">
                          <ng-container *ngIf="rowIndex === row.length - 1">
                            <button
                              class="btn"
                              (click)="
                                openBlockModal($event,{block,rowIndex,colIndex})
                              "
                            >
                              <i class="bi bi-box-arrow-in-up"></i>
                            </button>
                          </ng-container>

                          <ng-container *ngIf="colIndex === 0">
                            <button
                              class="btn"
                              (click)="
                                openBlockModal($event,{block,rowIndex,colIndex})
                              "
                            >
                              <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                          </ng-container>

                          <ng-container *ngIf="colIndex === 0">
                            <button class="btn p-0">
                              <i class="bi bi-box-arrow-in-left"></i>
                            </button>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
