<form [formGroup]="form">
  <div class="card mb-1">
    <div class="card-header">Thống tin cơ bản</div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label class="form-label">Của sự kiện</label>
          <la-project-show-search-select
            [multiple]="false"
          ></la-project-show-search-select>
        </div>

        <div class="col-12 col-md-6">
          <label class="form-label">Khách hàng</label>
          <la-project-user-search-select
            [multiple]="false"
          ></la-project-user-search-select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-12">
          <label class="form-label">Payment</label>
          <la-project-payment-search-select
            [multiple]="false"
          ></la-project-payment-search-select>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <label class="form-label">Status</label>
          <select
            class="form-select"
            [formControlName]="OrderProperties.status"
          >
            <option [value]="status" *ngFor="let status of orderStatuses">
              {{ status }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-1" [formGroupName]="OrderProperties.orderItems">
    <div class="card-header">Danh sách sản phẩm</div>
    <div class="card-body">
      <div *ngFor="let orderItem of orderItemsCtrl.controls; index as i" class="card mb-1">
        <div class="card-header">Item {{ i + 1 }}</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12 col-md-6">
              <label class="form-label">Product</label>
              <!-- <la-project-product-search-select
                [multiple]="false"
              ></la-project-product-search-select> -->
            </div>

            <!-- <div class="col-12 col-md-6">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                [formControlName]="OrderItemProperties.name"
                [readonly]="true"
              />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group mt-2">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
      (click)="onSubmitBtnClick(); $event.preventDefault()"
    >
      Submit
    </button>
  </div>
</form>
